@import url('https://fonts.googleapis.com/css?family=Averia+Gruesa+Libre|Chango|Fredoka+One|Roboto');

.mainContent {
  height: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section {
  width: 100%;
}

.fas {
  font-size: 2em;
}

.contentTitle {
  font: 2em 'Fredoka One', cursive;
  text-align: left;
}

p {
  font-family: 'Roboto', cursive;
}

.aboutContent {
  display: flex;
  justify-content: space-around;
}

.projectContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.contactContent {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.emailForm {
  width: 66%;
}

.emailFormRow {
  display: flex;
  justify-content: space-around;
}

.Copyright {
  font: 1em 'Averia Gruesa Libre', 'Roboto', cursive;
  margin-top: 1em;
}

