header {
  text-align: center;
}

.headerImageContainer {
  position: relative;
  min-height: 200px;
  background-color: #8345A5;
}

.headerText {
  background: #8345A5;
  -webkit-box-shadow: 0px 0px 20px 25px #8345A5;
  -moz-box-shadow: 0px 0px 20px 25px #8345A5;
  box-shadow: 0px 0px 20px 25px #8345A5;
  font: 3em 'Chango', cursive;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.NavBar {
  background: #ffffff;
  font: 1em/3em 'Averia Gruesa Libre', cursive;
}